<h3>Profile page</h3>
<%= @user == current_user ? "Welcome back #{current_user.email}" : "Please login" %>

<br><br>
<h4>Pending friend requests</h4>
<%= @user.friendships.count > 0 ? "#{@user.friendships.count} folks want to meet you" : 'no one wants to talk to you' %>
